<% if user_signed_in? %>
<h1><%= "Bienvenido "+ current_user.email %></h1>
<% end %>

Twitter
Feibu

git branch -a (ve incluso las branches ocultas)
git fetch origin (toma los cambios que haya en el repo remoto y los guarda en la rama oculta origin/master)

git merge origin/master (mezcar a mi master lo que me viene del repo remoto con fetch)

Si no hay conflictos, se mezcla automáticamente y todo bien, sino hay que hacer manualmente el merge, y luego:

git add -A (o el nombre del/los archivo/s mergeado/s manualmente)
git commit -m "mensaje"
y git push origin master

