<% if user_signed_in? %>
<h1><%= "Bienvenido "+ current_user.email %></h1>
<% end %>

Twitter
Feibu

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis maiores, alias architecto minus. Pariatur odit deserunt ut aut possimus, obcaecati optio neque quam consequuntur enim ullam, minima, magnam esse.