<% if user_signed_in? %>
<h1><%= "Bienvenido "+ current_user.email %></h1>
<% end %>

Twitter
Feibu

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis maiores, alias architecto minus. Pariatur odit deserunt ut aut possimus, obcaecati optio neque quam consequuntur enim ullam, minima, magnam esse.


Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita consectetur tempora cupiditate quia velit maxime, esse corrupti quis qui vel facilis voluptatum officia minus, quam dignissimos, sunt voluptates alias dicta!

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.